# Default ignored files
/.idea/workspace.xml
/.idea/
/target/
/logs/
/guuidea-component-ip/target/
/guuidea-component-log/target/
/guuidea-component-rate-limit/target/
/guuidea-component-secrecy/target/
